@model MyNurserySchool.ViewModels.NurseryViewModel
@{
    ViewBag.Title = @Model.Name;
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/app/Nursery/nursery-app.js"></script>
    <script src="~/app/Nursery/nurseryDetailController.js"></script>
    <script src="~/app/Nursery/nurseryEditController.js"></script>
    <script src="~/app/Class/classEditController.js"></script>
    <script src="~/app/Class/classDetailController.js"></script>
    <script src="~/app/Employee/employeeEditController.js"></script>
    <script src="~/app/Employee/employeeDetailController.js"></script>
    <script src="~/app/Child/childEditController.js"></script>
    <script src="~/app/Child/childDetailController.js"></script>
    <script src="~/app/Lists/employeesListController.js"></script>
    <script src="~/app/Lists/childrenListController.js"></script>
    <script src="~/app/Common/simpleControls.js"></script>
}
<div ng-app="nursery-app">
    <div ng-init="outerId = @Model.Id; canEdit = @(User.IsInRole("Editor") ? "true" : "false")">
        @*<div class="col-xs-12">
            <h2>@Model.Name</h2>
            <hr>        
        </div>*@
        <div class="col-sm-3 col-lg-2">
            <ul class="nav nav-pills nav-stacked nav-vertical">
                <li><a ng-href="#/" class="list-group-item"><i class="fa fa-home"></i>Prehľad</a>
                <li><!--<a ng-href="" class="list-group-item"><i class="fa fa-cubes"></i>Triedy</a>-->
                    <a ng-href="#collapse" class="list-group-item" data-toggle="collapse"><i class="fa fa-cubes"></i>Triedy</a>
                    <ul class="collapse nav nav-pills nav-stacked nav-subnav" id="collapse">
                        @foreach (var cla in Model.Classes)
                        {
                            <li><a ng-href="#/class/@cla.Id">@cla.Name</a></li>
                        }
                        <li ng-if="canEdit"><a ng-href="#/class/0/edit"><i class="fa fa-plus-circle"></i>Pridať triedu</a></li>
                    </ul>
                </li>
                <li><a ng-href="#/children" class="list-group-item"><i class="fa fa-child"></i>Všetky deti</a></li>
                <li><a ng-href="#/children/waiting" class="list-group-item"><i class="fa fa-hourglass-half"></i>Žiadatelia</a></li>
                <li><a ng-href="#/children/archive" class="list-group-item"><i class="fa fa-archive"></i>Archív detí</a></li>
                <li><a ng-href="#/employees" class="list-group-item"><i class="fa fa-users"></i>Zamestnanci</a></li>
                <li><a ng-href="#/edit" class="list-group-item"><i class="fa fa-cogs"></i>{{ canEdit ? "Nastavenia škôlky" : "Informácie o škôlke"}}</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-lg-10">
            <div class="container-fluid">
                
                <div class="view" ng-view></div>

            </div>
        </div>
    </div>
</div>
